@CHARSET "UTF-8";

body{
	width: 1000px;
	margin: 120px auto;
}
header{	
	width:1000px;
}
#headerback{
	top:0px;
	width:1000px;
	position: fixed;
	background: white;
	
}
header p{
	text-align:right;
	
}
header nav{
	
	height:51px;
	border-bottom: 2px solid #800000;
}
.bigmenu li{
	list-style-type: none;
	display: inline-block;
	width: 100px;
	height:30px;
	vertical-align: top;
}
.bigmenu li:hover .menu li{
	display:block;
}

.menu li{
	display: none;
	width:90px;
	list-style-type: none;
	background:#800000;
	position:relative;
	top:30px;
	left:-40px;
	z-index: 4;
}

footer {
	display: block;
	width: 1000px;
	background: #222;
	padding: 20px 0;
}

.footer_wrap {
   width: 1000px;
   margin: 0 auto;
}

.footer_wrap p {
   color: #fff;
   font-size: 13px;
   font-weight: 400;
   text-align: center;
   line-height: 1.5;
}


#sideMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	max-width: 250px;
	width: 100%;
}

#sideMenu ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
	max-width: 150px;
	width: 100%
}

#sideMenu ul li {
	padding: 5px 0px 5px 5px;
	font-size: 15px;
	
}


#sideMenu ol li {
	padding: 5px 0px 5px 5px;
	margin-bottom: 5px;
	border: 1px solid;
	font-size: 15px;
}

#
#sideMenu ul li:list-child {
	border-bottom: 0px;
}

#sideMenu ol li:list-child {
	border-bottom: 0px;
}

#sideMenu ul li:before {
	content: ">";
	display: inline-block;
	vertical-align: middle;
	padding: 0px 5px 6px 0px;
}

#sideMenu ol li:before {
	color: white;
	content: ">";
	display: inline-block;
	vertical-align: middle;
	padding: 0px 5px 6px 0px;
}


#newMenu {
	float: right;
	padding: 15px 0 8px 0;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
	border-radius: 3px;
	width: 1000px;
	height: 30px;
}


#newMenu ul li {
	float: left;
	list-style-type: none;
}

#newMenu a {
	height: 30px;
	color: #990033;
	font-family: 'Malgun Gothic';
	font-size: 16px;
	padding: 10px 10px 0 10px;
	text-decoration: none;

}

#newMenu a:hover {
	color: #cc3300;
	border-bottom: 3px solid;
	text-aling: center;
	
	
}
 
#newMenu ul ul {
	display: none;
	position: absolute;
	
}


#newMenu ul li:hover ul {
	display: block;
	width: 18%;

}

#newMenu ul ul li {
	float: none;
	font-size:12px;
}


<!---------------------------다시 레이아웃 잡기 ------------------------------------>


#container {
	margin: 0px auto;
	padding: 10px;
}
#header {
	padding-top: 20px;
}

#content {
	width: 80%;
	padding: 20px auto;
	float : left;
}
#sideMenu {
	width: 160px;
	padding: 20px;
	margin-bottom: 20px;
	float: left; 
	border: 1px;
	
}

#sidebar-right {
	width: 160px;
	padding: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;   <!-- 왼쪽 오른쪽 조절 가능 -->
}
#footer {
	clear: both;
	padding: 20px;
	
}

#mainnotice {
	box-sizing: border-box;
	width: 50%;
	padding: 20px;
	margin-bottom: 20px;
	float: left; 
	border: 1px;
}
#maincenter {
	box-sizing: border-box;
	width: 50%;
	padding: 20px;
	margin-bottom: 20px;
	float : right;
	border: 1px;
}


#table1 table {
	margin: 15px 0;
}


#table1 th {
	color: #ffffff;
	background-color: #aae1fe;
	background: -o-linear-gradient(90deg, #800000, #ffffff);
	background: -moz-linear-gradient(center top, #800000 100%, #ffffff  5%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #800000
		), color-stop(1, #ffffff ));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#800000',
		endColorstr='#ffffff ');
	}

#table1, #table1 th, #table1 td {
	width: 800px;
	font-size: 12px;
	text-align: center;
	padding: 4px;
	border-collapse: collapse
}
#table2 {
	width: 800px;
	
}

#table2, #table2 th, #table2 td {
	font-size: 12px;
	text-align: center;
	padding: 4px;
	border-collapse: collapse
}
#table2 th {
	color: #ffffff;
	background-color: #aae1fe;
	background: -o-linear-gradient(90deg, #800000, #ffffff);
	background: -moz-linear-gradient(center top, #800000 100%, #ffffff  5%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #800000
		), color-stop(1, #ffffff ));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#800000',
		endColorstr='#ffffff ');
	}
	#table2 input {
	width: 100%;
	
	}
	

