@CHARSET "UTF-8";
body{
	width: 1000px;
	margin: 0px auto;
}
header{
	width:1000px;
	
}
header p{
	text-align:right;
}
header nav{
	height:50px;
	border-bottom: 2px solid #800000;
}
.bigmenu li{
	list-style-type: none;
	display: inline-block;
	width: 100px;
	height:30px;
	vertical-align: top;
}
.bigmenu li:hover .menu li{
	display:block;
}

.menu li{
	display: none;
	width:90px;
	list-style-type: none;
	background:#800000;
	position:relative;
	top:30px;
	left:-40px;
	z-index: 4;
}

footer {
	display: block;
	width: 1000px;
	background: #222;
	padding: 20px 0;
}

.footer_wrap {
   width: 1000px;
   margin: 0 auto;
}

.footer_wrap p {
   color: #fff;
   font-size: 13px;
   font-weight: 400;
   text-align: center;
   line-height: 1.5;
}

