@CHARSET "UTF-8";
body{
	width: 1000px;
	margin: 120px auto;
}
header{
	
	width:1000px;
}
#headerback{
	top:0px;
	width:1000px;
	position: fixed;
	background: white;
	
}
header p{
	text-align:right;
	
}
header nav{
	
	height:50px;
	border-bottom: 2px solid #800000;
}
.bigmenu li{
	list-style-type: none;
	display: inline-block;
	width: 100px;
	height:30px;
	vertical-align: top;
}
.bigmenu li:hover .menu li{
	display:block;
}

.menu li{
	display: none;
	width:90px;
	list-style-type: none;
	background:#800000;
	position:relative;
	top:30px;
	left:-40px;
	z-index: 4;
}

footer {
	display: block;
	width: 1000px;
	background: #222;
	padding: 20px 0;
}

.footer_wrap {
   width: 1000px;
   margin: 0 auto;
}

.footer_wrap p {
   color: #fff;
   font-size: 13px;
   font-weight: 400;
   text-align: center;
   line-height: 1.5;
}

<!-- new css -->

.newMenu ul ul {
	display:none;    <!-- 메뉴 숨기기 -->
}

.newMenu ul li:hover ul {
	display:block  <!-- ul 태그 내부의 li태그에 마우스를 대면 ul를 보여주겟다는 소리 -->
}

.newMenu ul ul {
	display:none;
	position:absolute ;
	background-color: darkblue; 
}

.nav_menu ul ul li {
	float:none;  <!-- 서브 메뉴를 일렬로 출력 -->
}


